body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(65, 64, 77);
}

/*Primera página Home*/

#fondohome{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    height: 1000px;
    background-color: rgb(26, 24, 36);
    background-image: url(images/Fondo.png);
}

.portada{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 550px;
    height: 150px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.elementosInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.btnLogin{
    font-family: 'Ubuntu', sans-serif;
    width: 150px;
    height: 48px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
}

.btnLogin:hover {
    opacity: 0.6;
}

.inputHome{
    text-align: center;
    width: 250px;
    height: 40px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
}

.inputHome:hover {
    opacity: 0.6;
}

.google{
    text-decoration: none;
    margin-top: 30px;
}

.elementosGoogle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#textoUno{
    margin-bottom: 5px;
}

#aqui{
    font-weight: bold;
    text-decoration: underline;
}

/*Footer*/

footer{
    position:absolute;
    margin-top: 850px;
}

.centrarRedes{
    display: flex;
    justify-content: center;
  }
  
.fab {
    color: #ffffff ;
    border: transparent;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 80%;
    text-decoration: none;  
}
  
.fab:hover {
    opacity: 0.6;
}
  
#nombres{
    font-size: 12px;
    color: rgb(255, 255, 255);
}

/*Página Registro General*/

#fondoRegistro{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    height: 1000px;
    background-color: rgb(26, 24, 36);
    background-image: url(images/Fondo.png);
}

#textoTres{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.contenedorRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.inputRegistro{
    text-align: center;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    max-width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
    margin-top: 5px;
}

#btnConfirmar{
    font-family: 'Ubuntu', sans-serif;
    width: 200px;
    height: 48px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
}

#btnConfirmar:hover {
    opacity: 0.6;
}



/*Configuración none-block

#home {
    display: block;
  }

#registro {
    display: none;
  }*/