/*background*/
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(65, 64, 77);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    height: 800px;
    background-color: rgb(26, 24, 36);
    background-image: url(images/Fondo.png);
}

/*Primera página LOGIN*/

.portada{
    display:block;
    height: 130px;
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
}

#formLogin{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btnLogin{
    font-family: 'Ubuntu', sans-serif;
    width: 150px;
    height: 48px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
}

.btnLogin:hover {
    opacity: 0.6;
}

.inputHome{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 250px;
    height: 40px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
    margin: 15px;
    font-size: 18px;
}

.inputHome:hover {
    opacity: 0.6;
}

.google{
    text-decoration: none;
}

#elementosGoogle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#textoUno{
    font-size: 20px;
}

/*Registrate aquí*/

#aqui{ 
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#aqui:hover {
    opacity: 0.6;
}

/*Recupera tu contraseña aquí*/

#aquiTwo{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#aquiTwo:hover {
    opacity: 0.6;
}

#textoTres{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

/*Footer*/

.centrarRedes {
    display: flex;
    justify-content: center;
}
  
.fab {
    color: #ffffff ;
    border: transparent;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 80%;
    text-decoration: none;  
}
  
.fab:hover {
    opacity: 0.6;
}
  
#nombres{
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);

}

.divFooterTwo{
    margin-top: 100px;
}

/*Página Registro General*/

#textoDos{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

#formRegistro{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 30px;
}

.inputRegistro{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    max-width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
    margin: 20px;
}

#confpassword {
    margin-top: -40px;
}

#btnConfirmar{
    margin-right: 30px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
}

#btnConfirmar:hover {
    opacity: 0.6;
}

#btnCancelar{
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 50px; 
    opacity: 80%;
}

#btnCancelar:hover {
    opacity: 0.6;
}


/*Tercera página - MURO*/

#fondoMuro{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    height: 1000px;
    background-color: rgb(26, 24, 36);
    background-image: url(images/Fondo.png);
}

.portadaMuro{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 350px;
    height: 100px;
}

.contenedorMuro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.centrarRedesOne{
    margin-top: 700px;
    display: flex;
    justify-content: center;
  }

  
/*Barra de Navegación*/

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: #ffffff;
}

li{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.fas {
    color: #ffffff ;
    border: transparent;
    margin-top: 90px;
    opacity: 80%;  
}

.fas:hover {
    opacity: 0.6;
}

a{
text-decoration: none;
color: #ffffff;
font-size: 18px;
margin: 2px;
}

.a:hover {
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
}


.iconMenu{
    width: 20px; 
}


.dropbtn {
    background-color: rgb(65, 64, 77);
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(65, 64, 77);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
    
.dropdown {
    position: relative;
    display: inline-block;
}  

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}
